<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="selectAllMember" parameterType="member" resultType="member">
		SELECT * FROM MEMBER_N ORDER BY ID
	</select>
	
	<select id="selectOneMember" parameterType="string" resultType="member">
		SELECT * FROM MEMBER_N WHERE ID = #{id}
	</select>
	
	<select id="checkIdPassword" parameterType="map" resultType="member">
		SELECT * FROM MEMBER_N WHERE ID = #{id} AND PASSWORD = #{password}	
	</select>
	
	<insert id="insertMember" parameterType="member">
    	INSERT INTO MEMBER_N VALUES (#{id}, #{name}, #{password}, #{email})
	</insert>
</mapper>









